@page "/build" 
@inject IBananaService BananaService
@inject IUnitService UnitService
@inject IToastService ToastService
@attribute [Authorize]

<h3>Build unit</h3>
<div class="form-group">
    <select @bind="selectedUnitId" class="form-control">
        @foreach (var unit in UnitService.Units) 
        { 
            <option value="@unit.Id">@unit.Title //@unit.BananaCost Bananas</option>
          
        }
    </select>
</div>
<button @onclick="BuildUnit" class="btn btn-info">Build</button>
@code {
    int selectedUnitId = 1;
    bool inSufficientBananas = false;

    protected override async Task OnInitializedAsync()
    {
        await UnitService.LoadUnitsAsync();
    }

    private void BuildUnit()
    {
        var selectedUnit = UnitService.Units.FirstOrDefault(unit => unit.Id == selectedUnitId);
        if (BananaService.Bananas < selectedUnit.BananaCost)
        {
            inSufficientBananas = true;
            ToastService.ShowError("General we need more bananas, to build this unit", "Not enough bananas");
            return;
        }
        inSufficientBananas = false;

        BananaService.ConsumeBananas(selectedUnit.BananaCost);
        UnitService.AddUnit(selectedUnitId);
    }
}
